.profile__name {
  grid-area: title;
  margin: 0 0;
  font-weight: 500;
  font-size: 42px;
  line-height: 56px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 400px;
}

@media screen and (max-width: 986px) {
  .profile__name {
    font-size: 27px;
    line-height: 26px;
  }
}
